---
layout: default
title:  DSpay
---
{% include jquery.html %}
{% include slick.html %}

<h2> {{ page.title }} </h2>


<p>DSpay (for 'Digital-School-pay') is a prototype system for digital payments at school or elsewhere which I developed as my high school thesis.</p>

<div class="carousel">
  <img src="media/dspay/homepage.png">
  <img src="media/dspay/transactions.png">
  <img src="media/dspay/account.png">
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.carousel').slick({
  	autoplay: true,
  	autoplaySpeed: 5000,
  	speed: 900
  });
});
</script>