/* Color palette 
C03221
CAD2C5
84A98C
55868C
BBBE64
*/

body {
  background: rgba(0,0,0, 0.02);
}

::-moz-selection {
  color: white;
    background: #55868C;
}

::selection {
  color: white;
  background: #55868C;
}

a, h1, h2, h3, p, blockquote, pre, span, li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

a {
  color: #55868C;
}

ul {
  margin-top: 0em;
}

img {
  max-width:100%;
  max-height:100%;
}

.site-title {
  text-decoration-line: none;
  font-size: 40px;
  color: #BBBE64;
}

#wrapper {
  margin: 0 auto;
  /*The smaller the screen, the smaller the margins*/
  margin-top: 5vw;
  margin-bottom: 5vw;

  padding: 1em;

  border-radius: 5px;
  background: #FFF;
  max-width: 700px;
}

#content {
  color: rgba(0,0,0, 0.9);
}